@charset "UTF-8";
/* Global */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #111; /* Fondo oscuro */
  color: #eee; /* Texto claro */
}

/* Header */
header {
  text-align: center;
  background: #000; /* Encabezado negro */
  padding: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid #ffd700;
}

header .logo-page {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.5rem;
  width: 4.5rem;
}

header .logo-page:hover {
  filter: drop-shadow(0px 4px 6px #ffd700);
}

header h1 {
  margin: 0;
  font-size: 2rem;
  color: #ffd700;
  text-shadow: 2px 2px 10px rgba(255, 215, 0, 0.9);
}

#logoutBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5rem;
  background: #ffd700;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 17px;
}

#logoutBtn:hover {
  background: #e6c200;
}

.logoLogOut {
  width: 15px;
  height: 15px;
}

/* Alert Box */
.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.alert-box {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  color: #ffd700;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.alert-close-btn {
  margin-top: 10px;
  padding: 10px 15px;
  background: #ffd700;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.alert-close-btn:hover {
  background: #e6c200;
}

/* Mis Tickets */
.urgentes-section {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto 20px auto;
  width: 75%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.urgentes-section h2 {
  text-align: left;
  color: #ffd700;
  margin: 0 0 20px 0;
}

.urgentes-section .search-bar {
  width: 30%;
  padding: 10px;
  background: #333;
  border: 1px solid #444;
  border-radius: 5px;
  margin-bottom: 1rem;
  color: #eee;
}

.urgentes-section .search-bar:focus {
  outline: 2px solid #ffd700;
}

.filtro-estado-container {
  margin-bottom: 1rem;
  display: flex;
  gap: 15px;
  align-items: center;
}

.filtro-estado-container label {
  font-weight: bold;
  color: #ffd700;
}

.filtro-estado-container select {
  background: #333;
  color: #eee;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 5px;
}

.filtro-estado-container select:focus {
  outline: 2px solid #ffd700;
}

.tickets-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #333333;
}

.tickets-table th {
  color: #ffd700;
  padding: 10px;
  text-align: left;
  border: 1px solid #444;
}

.tickets-table td {
  padding: 10px;
  border: 1px solid #444;
  color: #eee;
}

.ticket-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.ticket-table th {
  background: #333;
  color: #ffd700;
  padding: 8px;
  text-align: left;
  border: 1px solid #444;
}

.ticket-table td {
  padding: 8px;
  border: 1px solid #444;
  color: #eee;
  background: #2c2c2c;
}

.ticket-table tr:nth-child(even) td {
  background: #242424;
}

/* Edit Form */
.resolver-form {
  margin-top: 20px;
  display: grid;
  gap: 15px;
  grid-template-columns: auto auto;
  background: #333;
  padding: 20px;
  border-radius: 5px;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.resolver-form .form-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.resolver-form label {
  color: #ffd700;
  margin-bottom: 5px;
  font-weight: bold;
}

.resolver-form select, input {
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background: #222;
  color: #eee;
}

.resolver-form select:focus, input:focus {
  outline: 2px solid #ffd700;
}

.resolver-form .btn {
  padding: 10px 15px;
  background: #ffd700;
  color: #000;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.resolver-form .btn:hover {
  background: #e6c200;
}

/* Status Circles */
.estado-circulo {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.estado-verde {
  background: #00c851;
}

.estado-naranja {
  background: #ffbb33;
}

.estado-rojo {
  background: #ff4444;
}

/* Comments Section */
.comments-section {
  margin-top: 20px;
  margin-bottom: 1rem;
}

.comments-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: bold;
}

.comments-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comments-list li {
  max-width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #444;
  background: #333;
  position: relative;
  width: 50%;
}

.comments-list li.self {
  align-self: flex-end;
  background: #222;
  border-color: #ffd700;
}

.comments-list li:not(.self) {
  align-self: flex-start;
  background: #444;
}

.comments-list li .username {
  font-weight: bold;
  color: #ffd700;
}

.comments-list li .date {
  font-size: 12px;
  color: #aaa;
  margin-top: 5px;
}

.comment-form {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.comment-form textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background: #333;
  color: #eee;
}

.comment-form textarea:focus {
  outline: 2px solid #ffd700;
}

.comment-form button {
  padding: 10px 15px;
  background: #ffd700;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-form button:hover {
  background: #e6c200;
}

/* Centrar columnas específicas */
.center-col {
  text-align: center !important;
}

.ticket-header:hover {
  background: #353535;
}
.ticket-header.open td {
  background: #353535;
}

.ticket-detalle {
  background: #111111;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

/* Overlay para el fondo */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

/* Modal */
.ticket-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(135deg, #000000, #333, #000000);
  border-radius: 1rem;
  padding: 20px;
  z-index: 9999; /* Asegurarse que esté por encima del overlay */
  max-height: 80vh;
  overflow-y: auto;
  width: 65rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Ancho del scrollbar */
.ticket-modal::-webkit-scrollbar {
  width: 10px;
}

/* Fondo de la pista (track) */
.ticket-modal::-webkit-scrollbar-track {
  background: #333; /* color de la pista */
}

/* Estilo de la barra que se arrastra (thumb) */
.ticket-modal::-webkit-scrollbar-thumb {
  background-color: #4b4b4b; /* color de la barra */
  border-radius: 6px;
  border: 1px solid #333;
}

.circulo-detalle {
  display: inline-block;
  margin-left: 0.2rem;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}

.resuelto {
  background-color: #2ecc71; /* verde */
}

.negativo {
  background-color: #e74c3c; /* rojo */
}

.short-id {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  color: #757575;
}

#ticketsTbody tr:nth-child(odd) {
  background: #222222; /* Color para filas impares */
}

#ticketsTbody tr:nth-child(even) {
  background: #2C2C2C; /* Color para filas pares */
}

#ticketsTbody tr:hover {
  background: #3f3f3f; /* Color al pasar el mouse */
}

.dot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 0 6px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
#dotFilterSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#onlyDotsFiltro {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
  padding: 0;
}

#onlyDotsFiltro:checked {
  background-color: #FFD700;
  border-color: #ccc;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><path d="M9 16.2l-4.2-4.2-1.4 1.4 5.6 5.6 12-12-1.4-1.4z"/></svg>');
  background-size: 14px 14px;
  background-position: center;
  background-repeat: no-repeat;
}

/* Responsive Design */
@media (max-width: 768px) {
  .mis-tickets,
  #crearTicketSection {
    width: 95%;
  }
  .tickets-table th, .tickets-table td {
    display: block;
    width: 100%;
    text-align: left;
  }
  .tickets-table tr {
    margin-bottom: 10px;
    display: block;
  }
}/*# sourceMappingURL=compras.css.map */